@font-face {
  font-family: "kontakt";
  src: url(/fonts/Kontakt.ttf) format("tff");
  font-family: "dosis";
  src: url(/fonts/Dosis-Medium.ttf) format("tff");
}
header{
  width: 100%;
}

 * {
  font-family: "dosis", "helvetica";
}
h1,
h3 {
  font-family: "kontakt", "times-new roman";
  color: #ffffff;
}
nav li {
  font-family: "kontakt", "times-new roman";
}

body {
  background-image: url(/images/bck.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  margin: 0 0 ;
}
footer {
  display: flex;
  min-height: 50px;
  background-color: #1b203d;
  color: white;
  padding: 0px;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 500px) {
  header {
    display: flex;
    background-color: #1b203d;
    flex-wrap: nowrap;
    position: relative;
    min-height: 100px;
    
    
  }

  .i img {
    min-width: 150px;
    max-width: 60%;
  }
  .i {
    width: 50%;
    flex: 0 0 1;
    position: absolute;
    left: 30%;
  }

  #checkmenu {
    display: none;
  }
  #ham,
  #a_user {
    color: white;
    align-self: flex-end;
    
  }
  #ham {
    margin: 0 10px 0 auto;
  }
  #user {
    margin: 0 15px 0 0;
  }
  #a_user {
    max-height: 24px;
    align-items: center;
  }

  nav {
    color: white;
    position: absolute;
    background-color: #1b203d;
    display: none;
    min-width: 100px;
    min-height: 200px;
    top: 100%;
    right: 0%;
    justify-items: center;
    padding: 5%;
  }
  nav ul li {
    list-style: none;
    padding: 10%;
  }
  nav a {
    color: white;
    text-decoration: none;
    margin-right: 10vh;
  }

  #checkmenu:checked ~ nav {
    display: inline-block;
  }
}
@media screen and (max-width: 340px) {
  .i {
    width: 50%;
    left: 20%;
  }
  header {
    min-height: 125px;
  }
  .i {
    width: 50%;
    left: 20%;
  }
}
@media screen and (min-width: 501px) {
  #ham,
  #checkmenu,
  #a_user {
    display: none;
  }
  header {
    display: flex;
    background-color: #1b203d;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .i img {
    max-height: 20vh;
    width: 100%;
    display: block;
  }
  .i {
    flex-shrink: 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }
  nav li {
    display: inline;
  }
  nav {
    margin: auto 3% 0 0;
  }
}


/*home page*/



.cta_p {
  display: flex;
  flex-direction: column;
  background-color: #1b203d;
  color: #ffffff;
  border-radius: 35%;
  width: 10vw;
  height: 8vh;
  margin: 0 auto;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  align-self: center;
  }
  @media screen and (max-width: 650px) {
    .cta_p {
      width: 12vw;
      height: 10vh;
     }
    
  }
 


@media screen and (max-width: 500px) {

  .cta_p {
    width: 20vw;
    height: 14vh;
   }
   
  .sales img,
  .news img {
    max-width: 225px;
    min-height: 200px;
  }
  .slide {
    width: 80%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-align: center;
    margin: 0 0 0 20%;
   
  }
  h1 {
    text-align: center;
    margin: 30% 0 5% 0;
  }

  .slide div {
    padding-right: 15%;
    background-color: #cccccc;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #slide2 {
    margin-bottom: 50px;
  }
  .slide div em {
    text-decoration: line-through red;
  }
}

@media screen and (min-width: 501px) {
  main{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, auto);
    color: white;

  }
  .news, sales img{
    width: 100%;
    }
   
    .slide div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .news{
      width: 25vw;
      grid-column: 6/8;
      grid-row-start: 2;
      margin: 100px;
      text-align: center;
      align-self:baseline;
      
      }
      .furious{
        margin-top: 200px;
      }
      .sales{
        width:20vw ;
        grid-column: 3/5;
        align-self: baseline;
        grid-row-start: 2;
        text-align: center;
      }
      .super, .black{
        margin-top: 100px ;
      }
      .black{
        margin-bottom: 50px;
      }
      .slide div em {
        text-decoration: line-through red;
      }


}
/*products*/
.games_card em{
  text-decoration: line-through red;
}

@media screen and (max-width: 500px) {
  .poducts_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .games_card img{
    max-width: 100%;
  }
  .games_card{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #cccccc;
    margin: 50px auto;
  }
 
  .games_card a{
    text-align: center;
  }
  .body_products{
    background-repeat:repeat-y;
    background-size: 250%;
    background-color: #1b203d;
    background-position: center;
  }
}
  @media screen and (min-width: 501px){
    
    .products_main{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, auto);
      column-gap: 8%;
      }
    
    .products_main h1{
        grid-column: 1/-1;
        grid-row: 1/2;
        margin: 100px auto 0 auto;
        
    }
    .games_card img{
      max-width: 100%;
    }
    .games_card{
      display: flex;
      flex-direction: column;
      width: 20vw;
      text-align: center;
      margin: 50px auto;
      
    }
    
    .ping_pong{
      grid-column: 2/3;
      grid-row: 2/3;
    }
    
    .black{
      grid-column: 3/4;
      grid-row: 2/3;
    }
    .super_duper{
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .boxer{
      grid-column: 2/3;
      grid-row: 3/4;
    }
   
    .forge_legend{
      grid-column: 3/4;
      grid-row: 3/4;
    }
   
    .furious{
      grid-column: 4/5;
      grid-row: 3/4;
    }
   
    .assassin{
      grid-column: 2/3;
      grid-row: 4/5;
    }
   
   

    
 
  
}
